[Desktop Entry]
Type=Application
Version=1.0
Name=GlitchVape
GenericName=Glitch and Vaporewave Photograph Editor
Comment=Vaporwave Art image distortion editor
Exec=glitchvape-gui %f
TryExec=glitchvape-gui
Icon=glitchvape
Terminal=false
Categories=Graphics;Photography;RasterGraphics;2DGraphics;
Keywords=glitch;vhs;crt;vaporwave;databend;pixelsort;scanlines;retro;
MimeType=image/png;image/jpeg;image/heif;image/heic;image/tiff;image/webp;image/bmp;image/gif;image/avif;
StartupNotify=true
StartupWMClass=glitchvape-gui
